{% extends 'Main/base.html' %}

{% block title %}
    Inicio
{% endblock title %}

{% block content_title %}
    <b> Vinilos </b>
{% endblock content_title %}

{% block content_title_actions %}
    <a href="{% url 'mymusicstore:registrardisco' %}" class="btn btn-primary">Agregar Disco</a>
{% endblock content_title_actions %}

{% block content %}
    <div class="row">
        {% for disco in discos %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card h-100" style="background-color: #f8f9fa;">
                        {% if disco.imagen %}
                            <img src="{{ disco.imagen.url }}" class="card-img-top" alt="{{ disco.nombre }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ disco.nombre }}</h5>
                            <p class="card-text">S/{{ disco.precio }}</p>
                            <a href="{% url 'mymusicstore:detalle_disco' disco.id %}" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>        
            </div>
        {% empty %}
            <p>No hay discos disponibles en este momento.</p>
        {% endfor %}
    </div>
{% endblock content %}


{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}