{% extends 'Main/base.html' %}

{% block title %}
    Detalle del Disco Destacado
{% endblock title %}

{% block content_title %}
    {{ discodestacado.nombre }}
{% endblock content_title %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4">
                {% if discodestacado.imagen %}
                    <div class="mt-4">
                        <img src="{{ discodestacado.imagen.url }}" class="img-fluid" alt="{{ discodestacado.nombre }}">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <p><strong>Precio:</strong> S/{{ discodestacado.precio }}</p>
                <p><strong>Descripción:</strong> {{ discodestacado.descripcion }}</p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}