{% extends 'Main/base.html' %}

{% block title %}
    Editar Perfil
{% endblock title %}

{% block content_title %}
    Editar Perfil de {{ form.instance.nombre }} {{ form.instance.apellido }}
{% endblock content_title %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <h3>Cambiar Contraseña</h3>
        {{ password_form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'mymusicstore:perfil_usuario' form.instance.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock content %}

{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}