{% extends 'Main/base.html' %}

{% block title %}
    Iniciar Sesion
{% endblock title %}

{% block content_title %}
    <b>Iniciar Sesion</b>
{% endblock content_title %}

{% block content %}
    <div class="container mt-5">
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="email" class="form-label"> <b>Correo Electrónico</b></label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="mb-4">
                <label for="contrasena" class="form-label"> <b>Contraseña</b></label>
                <input type="password" name="contrasena" class="form-control" id="contrasena" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}
