{% extends 'Main/base.html' %}

{% block title %}
    Registrar Disco
{% endblock title %}

{% block content_title %}
    <b>Registrar Disco Nuevo</b>
{% endblock content_title %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-4">
            <label for="id_nombre"><b>Nombre:</b></label>
            {{ form.nombre }}
        </div>
        <div class="form-group mb-4">
            <label for="id_precio"><b>Precio:</b></label>
            {{ form.precio }}
        </div>
        <div class="form-group mb-4">
            <label for="id_descripcion"><b>Descripción:</b></label>
            {{ form.descripcion }}
        </div>
        <div class="form-group mb-4">
            <label for="id_imagen"><b>Imagen:</b></label>
            {{ form.imagen }}
        </div>
        <div class="form-group mb-4">
            <label for="id_estado"><b>Estado:</b></label>
            {{ form.estado }}
        </div>
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Registrar Disco</button>
    </form>
{% endblock content %}

{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}