{% extends 'Main/base.html' %}

{% block title %}
    Registrar Disco
{% endblock title %}

{% block content_title %}
    Registrar Disco Nuevo
{% endblock content_title %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Registrar Disco</button>
    </form>
{% endblock content %}

{% block footer %}
    <footer class="bg-dark text-white p-1 mt-auto">
        <div class="container">
            <p class="text-center">© 2025 Tienda de Vinilos. Todos los derechos reservados.</p>
        </div>
    </footer>
{% endblock footer %}